body{
	max-width: 1024px;
	margin: 0 auto;
	font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
    background-color: white;
}
html,body {
	width: 100%;
	height: 100%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
.header-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.topgameimg img{
    display: flex;
    max-width: 230px;
    max-height: 400px;
    min-width: 175px;
    min-height: 300px;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    max-height:400px;
}
.logo img {
    max-width: 240px;
    max-height: 240px;
    flex: 1;
    min-width: 80px;
    min-height: 80px;
    margin: 0px 0px 
}
.website {
    font-weight: bold;
    font-size: large;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.description {
    font-size: medium;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}